


html {
  background-image: url("images/bebopbackground.jpg");
  background-size: 100%;
  font-family: 'Domine', serif;
}

.muteButton {
  margin-top: 25px;
  height: 25px;
  margin-left: 360px;
}

.titleCard {
  width: 600px;
}

.startButton {
  margin-left: 250px;
  border: 0;
}

.introPara {
  margin-left: 60px;
  margin-right: 40px;
}

.pauseMenu {
  display: none;
  height: 200px;
  width: 200px;
  margin-left: 350px;
  background-color: purple;
  position: absolute;
  z-index: 2;
}

.restartMenu {
  display: none;
  height: 200px;
  width: 200px;
  margin-left: 100px;
  background-color: blue;
  position: absolute;
  z-index: 50;
}

.splashScreen {
  margin-top: 25px;
  height: 601px;
  width: 601px;
  background-color: black;
  color: white;
  margin-left: 400px;
  position: absolute;
  z-index: 1;
}

.canvas {
  margin-top: 25px;
  /*background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1480108632/starbg2_i9ud8h.jpg);*/
  margin-left: 400px;
  /*background-attachment: scroll;*/
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  position: absolute;
  z-index: 0;
}
