


html {
  background-color: cadetblue;
}


#canvas {
  /*background-color: black;*/
  background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1480108632/starbg2_i9ud8h.jpg);
  /*margin-left: 400px;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
