


html {
  background-image: url("images/bebopbackground.jpg");
  background-size: 100%;
  font-family: 'Domine', serif;
}

.muteButton {
  margin-top: 25px;
  height: 25px;
  margin-left: 330px;
}

.titleCard {
  border-radius: 10px;
  width: 600px;
}

.startButton {
  height: 30px;
  width: 130px;
  margin-left: 230px;
  border: 0;
}

.introPara {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 40px;
}

.pauseMenu {
  border-radius: 10px;
  display: none;
  height: 25px;
  width: 100px;
  margin-top: 150px;
  margin-left: 622px;
  /*background-color: purple;*/
  position: absolute;
}

.unpauseButton {
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 10px;
  border: 0;
  width: 90px;
}

.restartButton {
  margin-left: 50px;
  /*padding-left: 50px;*/
  border-radius: 10px;
  border: 0;
  width: 90px;
}

.restartText {
  font-size: 14px;
  padding-left: 9px;
  color: white;
  margin: 5px;
}

.controlsMenu {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  background-color: blue;
  /*display: true;*/
}

.restartMenu {
  border-radius: 10px;
  display: none;
  height: 120px;
  width: 200px;
  margin-top: 100px;
  margin-left: 570px;
  background-color: #87429F;
  position: absolute;
}

.splashScreen {
  border-radius: 10px;
  margin-top: 15px;
  height: 601px;
  width: 601px;
  background-color: black;
  color: white;
  margin-left: 375px;
  position: absolute;
  z-index: 1;
}

.canvas {
  border-radius: 10px;
  margin-top: 15px;
  /*background-image: url(http://res.cloudinary.com/ddbfkqb9m/image/upload/v1480108632/starbg2_i9ud8h.jpg);*/
  margin-left: 375px;
  /*background-attachment: scroll;*/
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  position: absolute;
  z-index: 0;
}
